---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<ul>
  <li>Co-Instructor for 40.002 Optimization (Instructor Rating: 4.56/5)</li>
  <li>Graduate Teaching Assistant for 40.012 Manufacturing and Service Operations</li>
  <li>Graduate Teaching Assistant for 40.015 Simulation Modeling and Analysis</li>
</ul> 
As an undergrad I have also taught various math and operations research related classes, listed below:
<ul>
  <li>Teaching Assistant for 40.014 Engineering Systems Architecture</li>
  <li>Teaching Assistant for 10.004 Advanced Mathematics II</li>
  <li>Teaching Assistant for 10.007 Modelling the Systems World</li>
  <li>Teaching Assistant for 3.007 Introduction to Design</li>
</ul> 
I have also created and run several workshops during SUTD's independent activity period:
<ul>
  <li>Introduction to $\LaTeX$</li>
  <li>Introduction to HTML and CSS</li>
</ul> 
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
