---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<ul>
  <li>Co-Instructor for 40.002 Optimization</li>
  <li>Graduate Teaching Assistant for 40.012 Manufacturing and Service Operations</li>
  <li>Graduate Teaching Assistant for 40.015 Simulation Modeling and Analysis</li>
</ul> 
As an undergrad I have also TA-ed for various math and operations research related classes.
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
